<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="02MP-t1udna0jPnTTcAs2s5Mi33V9giP_LpZgZwNhnI" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>تست الکسا - Techbaran.ir</title>
    <meta name="description" content="راهی راحت برای بررسی رتبه الکسا. قابلیت مشاهده رشد در گذر زمان و مقایسه.">
    <script type="text/javascript">
      (function(){
      var now = new Date();
      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      script.async = true;
      var script_address = 'https://cdn.yektanet.com/js/alexa.techbaran.ir/native-alexa.techbaran.ir-20909.js';
      script.src = script_address + '?v=' + now.getFullYear().toString() + '0' + now.getMonth() + '0' + now.getDate() + '0' + now.getHours();
      head.appendChild(script);
      })();
  </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
