<template>
  <div class="home">
    <div class="light-orange" v-loading="loading">
      <Menu />
      <div class="flex-search-desc">
        <img alt="TechBaran logo" class="logo" src="../assets/logo.png">
        <h1>تست رتبه الکسای وبسایت</h1>
        <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
        <el-form class="form" @submit.native.prevent="checkAlexa">
          <el-form-item>
            <el-input class="input" prefix-icon="el-icon-search"  v-model="url" placeholder="your-domain.com"/>
          </el-form-item>
           <el-form-item>
              <el-button type="primary" color="#f05323" @click="checkAlexa">بررسی و ثبت بکلینک</el-button>
            </el-form-item>
        </el-form>
        <div class="sites" v-if="my_sites.length>0"> وبسایت های شما: 
          <el-tag @click="loadUrl(item)" class="my-site" v-for="item in my_sites" :key="item">
            {{item}}
          </el-tag>
        </div>
      </div>
    </div>
    <div class="content-container">
      <el-row :gutter="10" class="mt-5" v-loading="loading">
        <el-col class="hidden-sm-and-down" :md="6">
          <el-card class="card">
            <div class="side-header"> <i class="el-icon-user" /> خدمات رتبه الکسای تکباران: </div> <div class="meta-info">
              <div class="top-description">
              تست الکسا خدمتی از تکباران، در کنار بررسی وضعیت وبسایت، آمار وبسایت ذخیره میشود و یک نمودار جهانی و منطقه ای از آمار الکسای خود داشته باشید. 
              با تست دامنه یک بکلینک رایگان نیز برای شما ایجاد میشود.
            </div>
            </div>
          </el-card>
          <el-card class="card">
            <div class="side-header"> <i class="el-icon-user" /> وبسایت های شما: </div> <div class="meta-info">
              <el-tag @click="loadUrl(item)" class="my-site" v-for="item in my_sites" :key="item">
                {{item}}
              </el-tag>
            </div>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="16" :md="12">
        <el-card class="card" >
          <p class="err" v-if="problem">مشکلی در درخواست شما وجود دارد لطفا دوباره تلاش کنید.</p>
           <div class="info-header"> <i class="el-icon-link"/> آدرس وبسایت: </div> <div class="meta-info">{{result&&result.ALEXA.SD[0].$?result.ALEXA.SD[0].$.HOST:'---'}}</div>
          <!-- <el-row :gutter="10">        
            <el-col v-if="result && result.ALEXA&&result.ALEXA.SD[0].TITLE" :xs="24" :sm="12" :md="8"> توضیحات: {{result.ALEXA.SD[0].TITLE[0].$.TEXT}} </el-col>

            <el-col :xs="24" :sm="12" :md="8"> آدرس وبسایت: {{result&&result.ALEXA.SD[0].$?result.ALEXA.SD[0].$.HOST:'---'}} </el-col>

            <el-col :xs="24" :sm="12" :md="8"> رتبه در جهان: {{result&&result.ALEXA.SD[1].POPULARITY?result.ALEXA.SD[1].POPULARITY[0].$.TEXT:'---'}} </el-col>

            <el-col :xs="24" :sm="12" :md="8"> کشور محبوب:‌ {{result&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.NAME:'---'}} </el-col>

            <el-col :xs="24" :sm="12" :md="8"> رتبه در کشور محبوب:‌ {{result&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.RANK:'---'}} </el-col>

          </el-row> -->
        </el-card>
        
        <el-card class="card" v-if="result && result.ALEXA&&result.ALEXA.SD[0].TITLE">
          <p class="err" v-if="problem">مشکلی در درخواست شما وجود دارد لطفا دوباره تلاش کنید.</p>
           <div class="info-header"> <i class="el-icon-more"/> توضیحات: </div> <div class="meta-info">{{result.ALEXA.SD[0].TITLE[0].$.TEXT}}</div>
        </el-card>

        <el-card class="card" >
          <p class="err" v-if="problem">مشکلی در درخواست شما وجود دارد لطفا دوباره تلاش کنید.</p>
           <div class="info-header"> <i class="el-icon-circle-check"/> رتبه در جهان: </div> <div class="meta-info"><b v-if="result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].POPULARITY"> {{result.ALEXA.SD[1].POPULARITY[0].$.TEXT | currency}}</b><span v-else>---</span></div>
        </el-card>

        <el-card class="card" >
          <p class="err" v-if="problem">مشکلی در درخواست شما وجود دارد لطفا دوباره تلاش کنید.</p>
           <div class="info-header"> <i class="el-icon-star-on"/> کشور محبوب: </div> <div class="meta-info">{{result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.NAME:'---'}}</div>
        </el-card>

        <el-card class="card" >
          <p class="err" v-if="problem">مشکلی در درخواست شما وجود دارد لطفا دوباره تلاش کنید.</p>
           <div class="info-header"> <i class="el-icon-map-location"/> رتبه در کشور محبوب: </div> <div class="meta-info"><b v-if="result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY">{{result.ALEXA.SD[1].COUNTRY[0].$.RANK | currency}}</b><span v-else>---</span></div>
        </el-card>

        <el-card v-if="result && result.ALEXA.RLS[0]" class="back-links card">
          <div class="info-header"> <i class="el-icon-link"/> لیست بک لینک ها:</div>
          <div class="meta-info">
            <div v-for="item in result.ALEXA.RLS[0].RL" :key="item.$.HREF">
              آدرس: <a href="item.$.HREF">{{item.$.HREF}}</a>, عنوان: {{item.$.TITLE}}
            </div>
          </div>
        </el-card>

        <el-card class="card" v-loading="loading_graph">
           <div class="info-header"> <i class="el-icon-pie-chart"/> نمودار جهانی: </div> <div class="meta-info graphs">
             <!-- <p>گراف ها به زودی با فراهم آمدن داده ها فعال می‌شوند. </p> -->
             <chart :autoresize="true" :options="chartOptionsBar"></chart>
           </div>
           <div>
            <el-button v-if="hostname" v-clipboard:copy="`<iframe style='width: 100%; height: 300px; overflow: hidden; border: none' src='https://alexa.techbaran.ir/chart/world/${hostname}'></iframe>`" v-clipboard:success="onWorldCopy" type="success" icon="el-icon-document-copy"> کپی کردن کد</el-button>
            <p class="note mt-5">با استفاده از این کد می توانید این نمودار را به صورت لحظه ای در وبسایت خود به نمایش بگذارید.</p>
            <!-- <div class="code">
              <pre><code v-pre>&lt;script&gt;...<iframe style="width: 100%; height: 300px; overflow: hidden; border: none" src="/chart/world/digikala.com"></iframe>&lt;/script&gt;</code></pre>
            </div> -->
           </div>
        </el-card>

        <el-card class="card" v-loading="loading_graph">
           <div class="info-header"> <i class="el-icon-pie-chart"/> نمودار در کشور محبوب: </div> <div class="meta-info graphs">
             <!-- <p>گراف ها به زودی با فراهم آمدن داده ها فعال می‌شوند. </p> -->
             <chart :autoresize="true" :options="country_chart"></chart>
           </div>
        </el-card>

        <el-card class="card" v-loading="loading_graph">
           <div class="side-header"> <i class="el-icon-info"/> راهنما: </div> <div class="meta-info graphs">
             <h4>استفاده از پنل</h4>
             <p>برای استفاده از این پنل کافیست آدرست وبسایت مورد نظر را وارد کنید. hostname به طور خودکار از دامنه جدا می‌شود، سپس آمار در همین لحظه از الکسا دریافت می‌شود. </p>
             <h4>نحوه ایجاد نمودارها</h4>
             <p>از آنجا که الکسا تنها برای چند سایت برتر نمودار را در اختیار میگذارد و در کنار آن بسیاری از بخش ها محدود به حساب کاربری است. در این پنل آمار ذخیره می‌شود و از تحلیل داده ها نمودار ها ایجاد می‌شود. با افزایش حجم داده های یک وبسایت امکانات بیشتری برای آن باز خواهد شد.</p>
             <h4>اطلاعات وبسایت</h4>
             اطلاعات وبسایت شامل: 
             <ul>
               <li><b>آدرس وبسایت:</b> که همان url وبسایت شما است.</li>
               <li><b>توضیحات:</b> توضیحات به دست آمده از الکسا برای وبسایت.</li>
               <li><b>رتبه در جهان:</b> رتبه وبسایت در بین تمام سایت های الکسا، در صورت نبود داده های کافی در الکسا این داده نشان داده نمی‌شود.</li>
               <li><b>کشور محبوب:</b> درصورت محبوب بودن در یک کشور خاص در این فیلد به نمایش در می آید.</li>
               <li><b>رتبه در کشور محبوب:</b> درصورت محبوب بودن در یک کشور خاص در این فیلد رتبه وبسایت در آن کشور به نمایش در می آید.</li>
               <li><b>بک لینک ها:</b> لینک های تشخصی داده شده توسط الکسا مرتبط با وبسایت تحت بررسی.</li>
               <li><b>نمودار جهانی:</b> نمودار رتبه در جهان در ۳۰ روز گذشته. در صورت خالی بودن نمودار یعنی قبلا در پنل ثبت نشده است. با کپی کردن کدی که زیر این نمودار است و افزودن آن به وبسایت خود، امکان بررسی رتبه بصورت مداوم و نمایش نمودار وبسایت به کاربران خود را دارید.</li>
               <li><b>نمودار در کشور محبوب:</b> نمودار در کشور محبوب بر اساس داده های کشور محبوب به دست می‌آید.</li>
             </ul>
             <h4>امکانات جانبی</h4>
             <ul>
                <li><b>وبسایت های شما:</b> همواره ۶ وبسایت آخری که جستجو کرده اید در پنل شما ذخیره باقی می‌مانند. تا علاوه بر دسترسی سریع تر. امکان استفاده از آن ها در بخش نمودار وبسایت باشد. در صفحه نمایش های بزرگ این بخش علاوه بر بالای صفحه در سمت راست پنل نیز فعال است.</li>
                <li><b>نمودار وبسایت:</b> نمودار وبسایت نمودار رتبه در جهان محبوب ترین وبسایت شما را نمایش میدهد.</li>
                <li><b>دیگران جستجو کرده اند:</b> در این بخش وبسایت هایی که آمار آن ها به تازگی تغییر کرده است به نمایش گذاشته می‌شود.</li>
                <li><b>کپی کردن کد:</b> زیر نمودار جهانی پس از جستجو یک دکمه به نام "کپی کردن کد" فعال میشود که با استفاده از آن می‌توانید نمودار جهانی را در وبسایت خود نمایش دهید. مزیت اینکار بروزرسانی خودکار آمار وبسایت شما در این پنل است.</li>
             </ul>
           </div>
        </el-card>

        <div id="pos-article-display-card-31044"></div>

        <el-card class="footer">
          رتبه الکسا در تعیین ارزش یک وبسایت اهمیت بسیاری دارد.
          الکسا معیاری برای میزان شهرت یک وبسایت می‌باشد. الکسا میلیون ها وبسایت را براساس محبوبیت رده بندی می‌کند، به طوری که رنک 1 بیشترین محبوبیت را دارد. الکسا هر وبسایت را در مقایسه با دیگر وبسایت ها به نمایش می‌گذارد، که آن را یک بنچمارک خوب برای وبسایت ها می‌کند.
          <!-- <div>
            تمامی حقوق این صفحه متعلق به <a href="https://techbaran.ir">TechBaran.ir</a> است.
          </div> -->
        </el-card>
        </el-col>
        <el-col :sm="8" :md="6">
          <el-card class="card">
            <div class="side-header"> <i class="el-icon-pie-chart"/> نمودار وبسایت {{side_site}}: </div> <div class="meta-info">
              <chart :autoresize="true" :options="side_chart"></chart>
            </div>
          </el-card>
          <el-card class="card">
            <div class="side-header"> <i class="el-icon-pie-chart"/> دیگران جستجو کرده اند: </div> <div class="meta-info">
              <div v-for="item in others_sites" :key="item">
                <el-link @click="loadUrl(item)" type="info">{{item}}</el-link>
                <el-divider></el-divider>
              </div>
            </div>
          </el-card>
          <el-card class="card">
            <div class="side-header"> <i class="el-icon-pie-chart"/> بکلینک ها: </div> <div class="meta-info">
              <div v-for="item in backlinks" :key="item">
                <a :href="'https://'+item" target="_blank" type="info">{{item}}</a>
                <el-divider></el-divider>
              </div>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>

    <div class="note">ما همواره امکانات بیشتری به این ابزار اضافه می کنیم. درصورت نیاز به یک ابزار و یا داشتن پیشنهاد با <a href="mailto:support@techbaran.ir"> support@techbaran.ir </a> در تماس باشید. </div>
    <div class="note"> تمامی حقوق این صفحه متعلق به <a href="https://techbaran.ir">TechBaran.ir</a> است. </div>
  </div>
</template>

<script>
import axios from 'axios';
import {parseString} from 'xml2js';
import Menu from '../components/Menu';
import moment from 'moment-jalaali';
// const moment = require('moment');
// import SiteChart from '../components/SiteChart'
// let parser = require('xml2json');
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
    Menu,
    // SiteChart
  },
  data() {
    return {
      url: null,
      hostname: null,
      problem: null,
      loading: false,
      saving_search: false,
      loading_graph: false,
      loading_others: false,
      result: null,
      my_sites: [],
      chartOptionsBar: {tooltip: {trigger: 'axis',axisPointer: {type: 'cross'}},xAxis: {data: []},yAxis: {type: 'value'},series: [{type: 'line',data: []}]},
      country_chart: {tooltip: {trigger: 'axis',axisPointer: {type: 'cross'}},xAxis: {data: []},yAxis: {type: 'value'},series: [{type: 'line',data: []}]},
      side_chart: {tooltip: {trigger: 'axis',axisPointer: {type: 'cross'}},xAxis: {data: []},yAxis: {type: 'value'},series: [{type: 'line',data: []}]},
      side_site: null,
      others_sites: [],
      backlinks: []
    }
  },
  methods: {
    extractHostname(url) {
        var hostname;
        //find & remove protocol (http, ftp, etc.) and get hostname
        if (url.indexOf("//") > -1) {
            hostname = url.split('/')[2];
        }
        else {
            hostname = url.split('/')[0];
        }
        //find & remove port number
        hostname = hostname.split(':')[0];
        //find & remove "?"
        hostname = hostname.split('?')[0];

        return hostname;
    },
    checkAlexa() {
      this.result= null;
      this.loading = true;
      // this.url = this.url.replace(/(^\w+:|^)\/\//, '');
      this.url = this.extractHostname(this.url);
      if (!this.url || typeof this.url !== 'string' || this.url.length==0) {
        this.$message({
          showClose: true,
          message: "آدرس وارد شده قابل جستجو نمی‌باشد. میتوانید به support@techbaran.ir گزارش دهید.",
          type: 'error',
          duration: 5000
        });
        return
      }
      this.url = this.url.toLowerCase();
      const hostname = this.url;
      this.hostname = hostname;
      const proxyurl = "https://cors.bimion.ir";
      const query = `http://data.alexa.com/data?cli=10&dat=snbamz&url=${hostname}`;
      axios.get(`${proxyurl}/${query}`).then(res => {
        parseString(res.data,async (err, result) => {
          if (!err) {
            this.result = await result;
            this.saveSearch(hostname, this.result);
          }
          else this.problem = "مشکل در تجزیه و تحلیل داده ها."          
        })
        // this.problem = false;
      }).catch (() => {
        this.problem = 'مشکل در دسترسی به داده ها. لطفا اتصال به اینترنت را بررسی کنید.';
      }).finally (()=> {
        this.loading = false;
      })
      this.$store.commit("search", hostname);
    },

    checkUrlAlexa (url) {
      url = this.extractHostname(url);
      if (!url || typeof url !== 'string' || url.length==0) {
        return;
      }
      url = url.toLowerCase();
      const hostname = url;
      const proxyurl = "https://cors.bimion.ir";
      const query = `http://data.alexa.com/data?cli=10&dat=snbamz&url=${hostname}`;
      axios.get(`${proxyurl}/${query}`).then(res => {
        parseString(res.data,async (err, result) => {
          if (!err) {
            this.saveSearch(hostname, await result)
          }
        })
        // this.problem = false;
      }).catch (() => {
      });
    },
    saveSearch(hostname, result) {
      this.saving_search = true;
      const world_rank = result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].POPULARITY?result.ALEXA.SD[1].POPULARITY[0].$.TEXT:null;
      const country =result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.NAME:null;
      const country_code =result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.CODE:null;
      const country_rank =result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.RANK:null;
      // console.log({hostname, world_rank, country, country_code, country_rank});
      
      if (world_rank) {
        var params = new URLSearchParams();
            params.append('hostname', hostname);
            params.append('world_rank', world_rank);
            params.append('country', country);
            params.append('country_code', country_code);
            params.append('country_rank', country_rank);
            // {hostname, world_rank, country, country_code, country_rank}
        axios.post('/insert.php', params).then(() => {
        }).catch (() => {
        }).finally(() => {
          this.saving_search = false;
          this.findSearches(hostname, null);
        })
      } else {
        this.saving_search = false;
      }
    },
    onWorldCopy () {
      this.$message({
          showClose: true,
          message: "کد با موفقیت کپی شد. اکنون می‌توانید آن را در وبسایت خود اعمال کنید.",
          type: 'success',
          duration: 3000
        });
    },
    findSearches(hostname, next) {
      this.loading_graph = true;
      if (hostname) {
        var params = new URLSearchParams();
            params.append('hostname', hostname);
            // {hostname, world_rank, country, country_code, country_rank}
        axios.post('/searches.php', params).then(res => {
          const data = res.data;
          this.chartOptionsBar = this.blankChart();
          this.country_chart = this.blankChart();
          data.map(element => {
            // var t = element.date_searched.split(/[- :]/);
            // var d = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]))
            var m = moment(element.order_date, 'YYYY-M-D').format('jMM-jDD');
            this.chartOptionsBar.xAxis.data.push(m);
            this.country_chart.xAxis.data.push(m);
            this.chartOptionsBar.series[0].data.push(element.world_rank);
            this.country_chart.series[0].data.push(element.country_rank);
          });
          if (next) next(null, data);
        }).catch (() => {
          if (next) next(true, null);
        }).finally(() => {
          this.loading_graph = false;
        })
      } else {
        this.loading_graph = false;
      }
    },
    loadUrl(url) {
      this.url = url;
      this.checkAlexa();
    },
    blankChart  () {
      return {tooltip: {trigger: 'axis',axisPointer: {type: 'cross'}},xAxis: {data: []},yAxis: {type: 'value'},series: [{type: 'line',data: []}]};
    },
    loadSideEye () {
      if (this.my_sites && this.my_sites.length>0) {
        this.side_site = this.my_sites[0];
        this.checkUrlAlexa(this.side_site);
        this.findSearches(this.side_site, (err, data) => {
          if (!err) {
            this.side_chart = this.blankChart();
            data.forEach(element => {
              // var t = element.date_searched.split(/[- :]/);
              // var d = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]))
              // var m = moment(d).utc().format('jMM-jDD');
              var m = moment(element.order_date, 'YYYY-M-D').format('jMM-jDD');
              this.side_chart.xAxis.data.push(m);
              this.side_chart.series[0].data.push(element.world_rank);
            });
          }
        })
      }
    },
    loadingOthersSites () {
      axios.get('/others_sites.php').then(res => {
        const data = res.data;
        if (data && data.length>0) {
          this.others_sites = data.map(e => {return e.hostname;})
        }
      })
    },
    loadingBacklinks () {
      axios.get('/backlinks.php').then(res => {
        const data = res.data;
        if (data && data.length>0) {
          this.backlinks = data.map(e => {return e.hostname;})
        }
      })
    }
  },
  mounted() {
   this.my_sites = this.$store.getters.sites;
   this.loadSideEye();
   this.loadingOthersSites();
   this.loadingBacklinks();
  }
}
</script>
<style scoped>
@font-face {
    font-family: "iransans";
    src: url("../assets/fonts/irsans.ttf") format("truetype");
}
* {
  font-family: 'iransans';
  transition: all 500ms;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.url-input {
  border-radius: 4px;
  padding: 4px 32px;
  border: 1px solid #000;
  width: 256px;
  height: 32px;
  margin-top: 32px;
}
.form {
  max-width: 400px;
  margin: 32px auto;
  padding-bottom: 16px;
}
.logo {
  max-width: 100px;
}
.footer, .card {
  margin: 32px auto;
  text-align: right;
}
.err {
  color: red;
  margin-bottom: 16px;
}
.note {
  font-size: 14px;
  color: #666;
}
.back-links {
  text-align: right;
  max-width: 800px;
  margin: 64px auto;
}
.light-orange {
  background: #1b334b;
  background-image: url('https://try.alexa.com/wp-content/uploads/2019/04/Alexa-Homepage-2019_hero-bg-img-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 8px;
}
h1 {
  color: #eee;
}
.content-container {
  margin: 8px;
}
.info-header {
  font-size: 18px;
  font-weight: 500;
  background: #1b334b;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
}
.side-header {
  /* background: linear-gradient( -40deg, #b9caf3, #fdfdfd); */
  font-weight: 500;
  color: #f05323;
  border-bottom: 1px solid #f05323;
  padding: 8px;
  border-radius: 6px;
}
.meta-info {
  padding: 16px;
}

.meta-info .important{
  font-size: 24px;
  font-weight: bold;
}

.meta-info .nice{
  color: green;
}

.meta-info .bad{
  color: red;
}
.input {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  direction: ltr;
}
.graphs:hover {
  cursor: default;
}
.sites {
  color: #f05323;
  font-size: 18px;
  font-weight: 500;
}

.my-site {
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}
.mt-5 {
  margin-top: 16px;
}
.echarts {
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 300px;
}
.top-description {
  font-weight: 300;
  color: #111;
  max-width: 400px;
  margin: auto;
}
@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
 .card {
    margin: 4px auto;
    text-align: right;
  }
  .el-card__body {
      padding: 0 !important;
  }
  .logo {
    max-width: 54px;
  }
  h1 {
    font-size: 18px;
  }
  .form {
    margin: 10px 12px;
  }
  .logo {
    margin-top: 16px;
  }
  .sites {
    display: none;
  }
}

</style>