<template>
  <div class="iframe">
		<chart v-loading="loading"  :autoresize="true" :options="chart"/>
  </div>
</template>

<script>
import axios from 'axios';
import {parseString} from 'xml2js';
import moment from 'moment-jalaali';
export default {
	data() {
		return {
			url: null,
			chart: {tooltip: {trigger: 'axis',axisPointer: {type: 'cross'}},xAxis: {data: []},yAxis: {type: 'value'},series: [{type: 'line',data: []}]},
			loading: false
		}
	},
	methods: {
		extractHostname(url) {
			var hostname;
			//find & remove protocol (http, ftp, etc.) and get hostname
			if (url.indexOf("//") > -1) {
				hostname = url.split('/')[2];
			}
			else {
				hostname = url.split('/')[0];
			}
			//find & remove port number
			hostname = hostname.split(':')[0];
			//find & remove "?"
			hostname = hostname.split('?')[0];
			return hostname;
		},
		load() {
			this.loading = true;
			this.checkUrlAlexa(this.url);
		},
		checkUrlAlexa (url) {
			url = this.extractHostname(url);
			if (!url || typeof url !== 'string' || url.length==0) {
				return;
			}
			url = url.toLowerCase();
			const hostname = url;
			const proxyurl = "https://cors.bimion.ir";
			const query = `http://data.alexa.com/data?cli=10&dat=snbamz&url=${hostname}`;
			axios.get(`${proxyurl}/${query}`).then(res => {
			parseString(res.data,async (err, result) => {
			if (!err) {
				this.saveSearch(hostname, await result)
			}
			})
				// this.problem = false;
			}).catch (() => {
			});
		},
		saveSearch(hostname, result) {
			this.saving_search = true;
			const world_rank = result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].POPULARITY?result.ALEXA.SD[1].POPULARITY[0].$.TEXT:null;
			const country =result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.NAME:null;
			const country_code =result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.CODE:null;
			const country_rank =result&&result.ALEXA.SD[1]&&result.ALEXA.SD[1].COUNTRY?result.ALEXA.SD[1].COUNTRY[0].$.RANK:null;
			// console.log({hostname, world_rank, country, country_code, country_rank});
			if (world_rank) {
				var params = new URLSearchParams();
					params.append('hostname', hostname);
					params.append('world_rank', world_rank);
					params.append('country', country);
					params.append('country_code', country_code);
					params.append('country_rank', country_rank);
					axios.post('/insert.php', params).then(() => {
				}).catch (() => {
				}).finally(() => {
					this.saving_search = false;
					this.findSearches(hostname, null);
				});
			} else {
				this.saving_search = false;
			}
		},
		findSearches(hostname, next) {
			if (hostname) {
				var params = new URLSearchParams();
				params.append('hostname', hostname);
				axios.post('/searches.php', params).then(res => {
					const data = res.data;
					this.chart = this.blankChart();
					data.forEach(element => {
						// var t = element.date_searched.split(/[- :]/);
						// var d = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]))
						// var m = moment(d).utc().format('jMM-jDD')
						var m = moment(element.order_date, 'YYYY-M-D').format('jMM-jDD');
						this.chart.xAxis.data.push(m);
						this.chart.series[0].data.push(element.world_rank);
					});
				if (next) next(null, data);
				}).catch (() => {
						if (next) next(true, null);
				}).finally(() => {
				this.loading = false;
			})
			} else {
				this.loading = false;
			}
		},
		blankChart  () {
			return {tooltip: {trigger: 'axis',axisPointer: {type: 'cross'}},xAxis: {data: []},yAxis: {type: 'value'},series: [{type: 'line',data: []}]};
		},
	},
	mounted() {
		let url = this.$route.params.url;
		url = this.extractHostname(url);
		this.url = url;
		this.load();
	}
}
</script>

<style>
.echarts {
  min-width: 100px !important;
  min-height: 250px !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
</style>