<template>
  <div class="hello">
	<el-menu default-active="1" class="menu" mode="horizontal" background-color="#1b334b" hover-background-color="#ffc7b0"
  text-color="#f5eede"
  active-text-color="#fff">
      <el-menu-item index="1"> <b> تست الکسا </b> </el-menu-item>
      <el-menu-item index="2"> <a href="https://techbaran.ir">اخبار و مقالات </a></el-menu-item>
      <el-menu-item index="3"> <a href="https://pchas.ir"> درباره ما </a></el-menu-item>
      <!-- <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">تماس با ما</a></el-menu-item> -->
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu {
  margin: 0 auto;
  box-shadow: 0 1px 2px #1b334b;
}
.menu a {
  text-decoration: none;
  color: #000;
}
</style>
