@import url(./fonts/fonts.scss);
body {
    // font-family: IRANSans !important;
      font-weight: 300;
      direction: rtl;
      margin: 0;
    min-height: 100%;
}

// body * {
//     font-family: IRANSans !important;
// }

.w-100 {
  width: 100% !important;
}
@media (prefers-color-scheme: dark) {
	.card {
		box-shadow: 0 0 2px #111 !important;
	}
}
img:not([src]) {
  visibility: hidden;
}