/* theme color */
$--color-primary: #f05323;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
@import '~element-ui/lib/theme-chalk/display.css';

.el-menu--horizontal {
    padding-right: 0;
    padding-left: 0px;
}
.el-menu.el-menu--horizontal {
    border-bottom: unset;
}

.el-menu--horizontal > .el-menu-item {
    float: right;
}
.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
    float: right;
    width: 100%;
    text-align: right;
}

[class*="el-col-"] {
    float: right;
}

.el-message__closeBtn {
    left: 15px;
    right: unset;
}

.el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
    margin-right: 8px;
}

.el-submenu__icon-arrow {
    left: 20px;
    right: unset;
}

.el-submenu [class^="el-icon-"] {
    margin-left: 5px;
    margin-right: 5px;
}
.el-menu {
    border-right: unset;
    border-bottom: unset;
}

.el-menu-item [class^="el-icon-"] {
    margin-left: 5px;
    margin-right: unset;
}

.el-menu-item-group__title {
    padding: 7px 7px 20px 7px;
    text-align: right;
}

.el-menu-item {
    text-align: right;
}

.el-submenu__title {
    text-align: right;
}
.el-icon-back::before {
    content: "\E6E0";
}
.el-select-dropdown__item {
    text-align: right;
}
.el-cascader-panel {
    text-align: right;
    .el-scrollbar__wrap {
        margin-left: -12px !important;
        margin-right: unset !important;
    }
}

.el-select-dropdown {
    text-align: right;
    .el-scrollbar__wrap {
        margin-left: -12px !important;
        margin-right: unset !important;
    }
}

.el-icon-arrow-right::before {
    content: "\E6De";
}

.el-icon-arrow-left::before {
    content: "\E6E0";
}

.el-table th, .el-table td {
    text-align: right;
}

.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before, .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label::before {
    margin-left: 4px;
}

.el-form-item__label {
    float: right;
    padding: 0 12px 0 12px;
}

.el-cascader-menu {
    border-left: solid 1px #E4E7ED;
    border-right: unset;
}

.el-cascader-menu:last-child {
    border-left: none;
    border-right: unset;
}

.el-checkbox__label {
    padding-right: 10px;
    padding-left: unset;
}

.el-table__body tr.current-row > td {
    background-color: lightgreen;
}

.el-message-box__content {
    text-align: right;
}
.el-message-box__status + .el-message-box__message {
    padding-left: 12px;
    padding-right: 36px;
}
.el-message-box__btns button:nth-child(2) {
    margin-right: 10px
}

.el-message-box__btns {
    text-align: left;
}

.el-message-box__headerbtn {
    left: 15px;
    right: unset;
}

.el-message-box__title {
    text-align: right;
}

.el-carousel__arrow--right {

    left: 16px;
    right: unset;
}

.el-carousel__arrow--left {
    left: unset;
    right: 16px;
}

.el-input__suffix {
    left: 5px;
    right: unset;
    direction: ltr;
}
.el-input__inner::placeholder {
    color: #444;
}
.el-input input{
    height: 45px;
    text-align: center;
}

.el-notification {
    text-align: right;
}

.el-page-header__left {
    margin-left: 40px;
}

.el-page-header__left::after {
    content: "";
    left: -20px;
    right: unset;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item:first-child {
    margin-right: -1px;
}
.el-tabs__nav {
    float: right;
}
.el-tabs--card > .el-tabs__header .el-tabs__item:first-child {
    border-right: none;
    border-left: 1px solid #E4E7ED;
}
.el-dialog__title {
    text-align: right;
}
.el-dialog__headerbtn {
    right: unset;
    left: 20px;
}
.el-dialog__footer {
    text-align: left;
}
.el-button + .el-button {
    margin-right: 10px;
    margin-left: 0;
}

.el-tree-node__content > label.el-checkbox {
    margin-left: 8px;
    margin-bottom: 0;
    margin-right: unset;
}
.el-icon-caret-right::before {
    content: "\E792";
}
.el-tree-node__expand-icon.expanded {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.el-tree-node.is-expanded > .el-tree-node__children {
    display: block;
    padding-right: 18px;
}

.el-tree-node__content {
    padding-left: unset;
}

.el-select .el-tag__close.el-icon-close {
    right: unset;
    left: -7px;
}
.el-color-picker__panel {
    direction: ltr;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
    left: 20px;
    right: unset;
}

@media (max-width: 800px) {
  .el-card__body {
      padding: 0 !important;
  }
}
// .el-switch__label--right {
//     margin-right: 10px;
//     margin-left: unset;
// }

// .el-switch__label--left {
//     margin-left: 10px;
//     margin-right: unset;
// }
